
    @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5f75da;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.pattern{
 @apply absolute xl:h-[1013px] 2xl:h-[1139px] 3xl:h-[1367px] lg:h-[810px] w-[100%]; 
}
.rowd01bb442c0777dnine{
 @apply font-bold 2xl:mt-[11px] 3xl:mt-[13px] lg:mt-[7px] xl:mt-[9px] text-gray_900 w-[auto]; 
}
.d01bb442c0777dNine{
 @apply lg:h-[43px] xl:h-[54px] 2xl:h-[61px] 3xl:h-[73px] w-[10%]; 
}
.Secciones{
 @apply font-bold lg:ml-[254px] xl:ml-[318px] 2xl:ml-[358px] 3xl:ml-[429px] 2xl:mt-[11px] 3xl:mt-[13px] lg:mt-[7px] xl:mt-[9px] text-gray_900 w-[auto]; 
}
.Redessociales{
 @apply font-bold xl:ml-[119px] 2xl:ml-[134px] 3xl:ml-[160px] lg:ml-[95px] 2xl:mt-[11px] 3xl:mt-[13px] lg:mt-[7px] xl:mt-[9px] text-gray_900 w-[auto]; 
}
.TPCoficialfb{
 @apply font-semibold lg:ml-[130px] xl:ml-[162px] 2xl:ml-[183px] 3xl:ml-[219px] text-gray_400 w-[auto]; 
}
.test_999999999{
 @apply font-semibold lg:ml-[102px] xl:ml-[128px] 2xl:ml-[144px] 3xl:ml-[172px] text-gray_400 w-[auto]; 
}
.rowlanguage{
 @apply font-semibold leading-[normal] text-gray_400 w-[31%]; 
}
.columnnosotros{
 @apply font-semibold lg:mt-[11px] xl:mt-[14px] 2xl:mt-[16px] 3xl:mt-[19px] text-gray_400 w-[auto]; 
}
.TPCoficialig{
 @apply absolute font-semibold text-gray_400 w-[auto]; 
}
.d01bb442c0777dNine_One{
 @apply lg:h-[43px] xl:h-[54px] 2xl:h-[61px] 3xl:h-[73px] w-[21%]; 
}
.ImagecobaFour{
 @apply absolute lg:h-[338px] xl:h-[423px] 2xl:h-[476px] 3xl:h-[571px] right-[0] top-[20%] w-[49%]; 
}
.columnd01bb442c0777dnine2{
 @apply font-bold lg:mt-[16px] xl:mt-[20px] 2xl:mt-[23px] 3xl:mt-[27px] text-gray_900 w-[auto]; 
}
.d01bb442c0777dNine2{
 @apply lg:h-[34px] xl:h-[42px] 2xl:h-[48px] 3xl:h-[57px] w-[46%]; 
}
.u201910362upc{
 @apply font-medium ml-[3px] xl:text-[12px] 2xl:text-[14px] 3xl:text-[16px] lg:text-[9px] text-gray_400 w-[auto]; 
}
.rownueva_tutoría{
 @apply font-bold xl:mt-[10px] 2xl:mt-[12px] 3xl:mt-[14px] lg:mt-[8px] text-black_900 w-[auto]; 
}
.rowwebinarsrecome{
 @apply font-bold mt-[4px] text-black_900 w-[auto]; 
}
.time{
 @apply ml-[2px] mt-[1px] text-black_900 w-[auto]; 
}
.programaciónCounter{
 @apply font-bold lg:ml-[13px] xl:ml-[16px] 2xl:ml-[19px] 3xl:ml-[22px] 2xl:mr-[10px] 3xl:mr-[12px] lg:mr-[7px] xl:mr-[8px] text-black_900 w-[auto]; 
}
.time_One{
 @apply lg:ml-[4px] xl:ml-[6px] 2xl:ml-[7px] 3xl:ml-[8px] text-black_900 w-[auto]; 
}
.MatemticaBsi{
 @apply font-bold leading-[normal] xl:ml-[10px] 2xl:ml-[12px] 3xl:ml-[14px] lg:ml-[8px] lg:mr-[11px] xl:mr-[14px] 2xl:mr-[16px] 3xl:mr-[19px] text-black_900 w-[55%]; 
}
.columngroup1463{
 @apply font-bold leading-[normal] mb-[4px] lg:mt-[20px] xl:mt-[25px] 2xl:mt-[29px] 3xl:mt-[34px] text-center text-gray_52 w-[99%]; 
}
.Tallerdeempre{
 @apply font-bold leading-[normal] text-black_900 w-[100%]; 
}
.Da23dejuni{
 @apply 2xl:mt-[10px] 3xl:mt-[12px] lg:mt-[7px] xl:mt-[8px] text-black_900 w-[auto]; 
}
.listcomputer{
 @apply bg-gradient  items-center justify-center mt-[1px] lg:p-[19px] xl:p-[24px] 2xl:p-[28px] 3xl:p-[33px] rounded-radius20 w-[100%]; 
}
.columncomputer{
 @apply font-bold leading-[normal] 2xl:mb-[11px] 3xl:mb-[13px] lg:mb-[7px] xl:mb-[9px] lg:mt-[20px] xl:mt-[25px] 2xl:mt-[29px] 3xl:mt-[34px] text-center text-gray_52 w-[99%]; 
}
.columngroup1461{
 @apply font-bold leading-[normal] xl:mb-[10px] 2xl:mb-[12px] 3xl:mb-[14px] lg:mb-[8px] lg:mt-[20px] xl:mt-[25px] 2xl:mt-[29px] 3xl:mt-[34px] text-center text-gray_52 w-[100%]; 
}
.columncalendar{
 @apply font-bold leading-[normal] lg:mb-[10px] xl:mb-[13px] 2xl:mb-[15px] 3xl:mb-[18px] lg:mt-[20px] xl:mt-[25px] 2xl:mt-[29px] 3xl:mt-[34px] text-center text-gray_52 w-[96%]; 
}
.Teacher{
 @apply lg:h-[15px] xl:h-[18px] 2xl:h-[21px] 3xl:h-[25px] lg:w-[14px] xl:w-[17px] 2xl:w-[20px] 3xl:w-[24px]; 
}
.rowmap{
 @apply font-bold lg:ml-[12px] xl:ml-[16px] 2xl:ml-[18px] 3xl:ml-[21px] text-gray_500 w-[auto]; 
}
.map2{
 @apply lg:h-[11px] xl:h-[14px] 2xl:h-[16px] 3xl:h-[19px] w-[12%]; 
}
.columnencuentratuta{
 @apply lg:mt-[39px] xl:mt-[49px] 2xl:mt-[56px] 3xl:mt-[67px] text-black_900 tracking-ls1 w-[auto]; 
}
.Curso{
 @apply mt-[2px] text-black_900 tracking-ls1 w-[auto]; 
}
.column13001500{
 @apply lg:mt-[34px] xl:mt-[42px] 2xl:mt-[48px] 3xl:mt-[57px] text-black_900 tracking-ls1 w-[auto]; 
}
.Table{
 @apply bg-white_A700 items-center my-[0] lg:p-[11px] xl:p-[14px] 2xl:p-[16px] 3xl:p-[19px] w-[100%]; 
}
.columnd01bb442c0777dnine3{
 @apply font-bold lg:mt-[16px] xl:mt-[20px] 2xl:mt-[23px] 3xl:mt-[27px] text-gray_901 w-[auto]; 
}
.columnu201910362upc{
 @apply font-medium ml-[4px] xl:text-[12px] 2xl:text-[14px] 3xl:text-[16px] lg:text-[9px] text-gray_400 w-[auto]; 
}
.laptop2{
 @apply lg:h-[10px] xl:h-[12px] 2xl:h-[14px] 3xl:h-[16px] w-[10%]; 
}
.rowvideoconferenc{
 @apply font-bold lg:ml-[12px] xl:ml-[16px] 2xl:ml-[18px] 3xl:ml-[21px] mt-[1px] text-gray_800 w-[auto]; 
}
.VideoConferenc2{
 @apply lg:h-[15px] xl:h-[18px] 2xl:h-[21px] 3xl:h-[25px] lg:ml-[4px] xl:ml-[5px] 2xl:ml-[6px] 3xl:ml-[7px] mt-[1px] lg:w-[14px] xl:w-[17px] 2xl:w-[20px] 3xl:w-[24px]; 
}
.language{
 @apply font-medium p-[0] lg:text-[11px] xl:text-[14px] 2xl:text-[16px] 3xl:text-[19px] text-black_900 tracking-ls1 w-[100%]; 
}
.rowakaricons{
 @apply font-bold lg:ml-[12px] xl:ml-[16px] 2xl:ml-[18px] 3xl:ml-[21px] mt-[1px] text-indigo_400 w-[auto]; 
}
.rowcheckmark{
 @apply font-bold lg:ml-[14px] xl:ml-[17px] 2xl:ml-[20px] 3xl:ml-[24px] text-gray_500 w-[auto]; 
}
.checkmark{
 @apply lg:h-[12px] xl:h-[15px] 2xl:h-[17px] 3xl:h-[20px] w-[12%]; 
}
.Tipodeclase1{
 @apply lg:ml-[190px] xl:ml-[238px] 2xl:ml-[268px] 3xl:ml-[321px] text-black_900 tracking-ls1 w-[auto]; 
}
.DayOfTheWeek{
 @apply font-medium lg:my-[5px] xl:my-[7px] 2xl:my-[8px] 3xl:my-[9px] rotate-[90deg] text-bluegray_900 w-[auto]; 
}
.Day{
 @apply font-medium xl:ml-[106px] 2xl:ml-[120px] 3xl:ml-[144px] lg:ml-[85px] rotate-[90deg] text-bluegray_901 w-[auto]; 
}
.Day8{
 @apply font-medium lg:mb-[54px] xl:mb-[67px] 2xl:mb-[76px] 3xl:mb-[91px] rotate-[90deg] text-bluegray_901 w-[auto]; 
}
.rowakaricons1{
 @apply font-bold lg:ml-[12px] xl:ml-[16px] 2xl:ml-[18px] 3xl:ml-[21px] mt-[1px] text-gray_500 w-[auto]; 
}
.VideoConferenc3{
 @apply lg:h-[15px] xl:h-[18px] 2xl:h-[21px] 3xl:h-[25px] lg:ml-[3px] xl:ml-[4px] 2xl:ml-[5px] 3xl:ml-[6px] mt-[1px] lg:w-[14px] xl:w-[17px] 2xl:w-[20px] 3xl:w-[24px]; 
}
.arrowdown_Two1{
 @apply 2xl:h-[11px] 3xl:h-[13px] lg:h-[8px] xl:h-[9px] lg:ml-[329px] xl:ml-[411px] 2xl:ml-[463px] 3xl:ml-[555px] w-[2%]; 
}
.columnasistencia{
 @apply ml-[1px] lg:mt-[44px] xl:mt-[55px] 2xl:mt-[62px] 3xl:mt-[74px] text-black_900 tracking-ls1 w-[auto]; 
}
.Table1{
 @apply bg-white_A700 items-center justify-end my-[0] lg:p-[11px] xl:p-[14px] 2xl:p-[16px] 3xl:p-[19px] w-[100%]; 
}
.columnu201910362upc1{
 @apply font-medium xl:text-[12px] 2xl:text-[14px] 3xl:text-[16px] lg:text-[9px] text-gray_400 w-[auto]; 
}
.columncomentariosdes{
 @apply font-montserrat lg:mt-[47px] xl:mt-[59px] 2xl:mt-[67px] 3xl:mt-[80px] text-black_900 tracking-ls1 w-[auto]; 
}
.columnprimarytext{
 @apply font-normal lg:mt-[5px] xl:mt-[7px] 2xl:mt-[8px] 3xl:mt-[9px] not-italic text-gray_801 w-[auto]; 
}
.SevenHundredFifty{
 @apply absolute h-[max-content] inset-[0] justify-center m-[auto] text-black_900 w-[max-content]; 
}
.Five{
 @apply ml-[1px] not-italic text-gray_801 w-[auto]; 
}
.Four{
 @apply ml-[1px] lg:mt-[12px] xl:mt-[16px] 2xl:mt-[18px] 3xl:mt-[21px] not-italic text-gray_801 w-[auto]; 
}
.Three{
 @apply ml-[1px] lg:mt-[11px] xl:mt-[14px] 2xl:mt-[16px] 3xl:mt-[19px] not-italic text-gray_801 w-[auto]; 
}
.One{
 @apply ml-[2px] lg:mt-[12px] xl:mt-[16px] 2xl:mt-[18px] 3xl:mt-[21px] not-italic text-gray_801 w-[auto]; 
}
.Zero{
 @apply lg:mt-[14px] xl:mt-[17px] 2xl:mt-[20px] 3xl:mt-[24px] not-italic text-gray_801 w-[auto]; 
}
.Vector390{
 @apply absolute bottom-[0] xl:h-[101px] 2xl:h-[114px] 3xl:h-[136px] lg:h-[81px] left-[0] w-[78%]; 
}
.rowellipsetwentyone{
 @apply font-normal lg:ml-[5px] xl:ml-[7px] 2xl:ml-[8px] 3xl:ml-[9px] not-italic text-black_900 w-[auto]; 
}
.listmistalleres_one{
 @apply bg-white_A700 items-center justify-start lg:my-[5px] xl:my-[7px] 2xl:my-[8px] 3xl:my-[9px] lg:p-[20px] xl:p-[25px] 2xl:p-[29px] 3xl:p-[34px] rounded-radius20 w-[100%]; 
}
.rowmistalleres{
 @apply font-medium mb-[1px] text-black_900 w-[auto]; 
}
.star{
 @apply lg:h-[31px] xl:h-[39px] 2xl:h-[44px] 3xl:h-[52px] xl:ml-[10px] 2xl:ml-[12px] 3xl:ml-[14px] lg:ml-[8px] mt-[4px] w-[33%]; 
}
.rowmistutoras{
 @apply font-medium mt-[1px] text-black_900 w-[auto]; 
}
.Buenprofesor{
 @apply font-medium leading-[normal] ml-[1px] lg:mt-[3px] xl:mt-[4px] 2xl:mt-[5px] 3xl:mt-[6px] text-black_900 w-[99%]; 
}
.JessRomero{
 @apply font-bold lg:mb-[4px] xl:mb-[5px] 2xl:mb-[6px] 3xl:mb-[7px] lg:mt-[20px] xl:mt-[25px] 2xl:mt-[29px] 3xl:mt-[34px] text-black_900 w-[auto]; 
}
.programaciónCounter_Two{
 @apply font-bold lg:ml-[13px] xl:ml-[16px] 2xl:ml-[19px] 3xl:ml-[22px] text-black_900 w-[auto]; 
}
